* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; !important;
  color: #152238;
}

.navbar {
  background-color: #ffffff;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  position: fixed;
  top: 0;
  z-index: 10;
  box-shadow: 1px 1px 5px #738494;
}

#navbar__logo {
  height: 80px;
  display: flex;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  align-items: center;
  margin: 0 -2rem;
  padding: 0 2rem;
  cursor: pointer;
}

.navbar__container {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 2rem;
}

.navbar__menu {
  display: none;
}

@media (min-width: 768px) {
  .navbar__container {
    padding: 0 4rem;
  }

  .navbar__menu {
    height: 80px;
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
  }

  .navbar__item {
    height: 80px;
  }

  .navbar__link {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 2rem;
  }

  .navbar__link:hover {
    color: #8d3cf7;
    transition: color .2s ease-in-out;
  }

}
